@import "login-form.scss";

html,
body {
    min-height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: gray;
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none;
}

.container {
    padding-top: 3em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hidden {
    visibility: hidden;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 1em 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
}

.location {
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    border: 0.5em solid white;
    box-shadow: 0 0 10px lightgray;
}

.fa-check {
    color: green;
}

.fa-times {
    color: red;
}
