$big-screen-form-width: 30%;
$middle-screen-form-width: 50%;
$small-screen-form-width: 95%;

.login-form,
.login-form__footer {
    width: $big-screen-form-width;
}

@media screen and (max-width: 1000px) {
    .login-form,
    .login-form__footer {
        width: $middle-screen-form-width;
    }
}

@media screen and (max-width: 500px) {
    .login-form,
    .login-form__footer {
        width: $small-screen-form-width;
    }
}

.login-form__message {
    color: black;
}

.login-form__input-group {
    display: flex;
    flex-direction: column;
}

.login-form__input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.4em 0;
    border-bottom: 1px solid gray;
}

.login-form__input-container--filled {
    color: black;
}

.login-form__input-container--valid {
    border-bottom: 1px solid green;
}

.login-form__input-container--invalid {
    border-bottom: 1px solid red;
}

.login-form__input-email,
.login-form__input-password {
    font-size: 1em;
    height: 1.8em;
    margin: 0 0.4em;
    width: 100%;
    border: none;
}

.login-form__button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.4em 0;
}

.login-form__link {
    color: gray;
    text-decoration: none;
}

.login-form__button {
    border-radius: 1em;
    border: 1px solid gray;
    padding: 0.6em 1.2em;
    background-color: white;
    color: gray;
    text-align: center;
}

.login-form__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
