$default-text-color: gray;
$highlighted-text-color: black;
$valid-color: green;
$invalid-color: red;
$big-screen-form-width: 30%;
$middle-screen-form-width: 50%;
$small-screen-form-width: 95%;

.login-form,
.login-form__footer {
    width: $big-screen-form-width;
}

@media screen and (max-width: 1000px) {
    .login-form,
    .login-form__footer {
        width: $middle-screen-form-width;
    }
}

@media screen and (max-width: 500px) {
    .login-form,
    .login-form__footer {
        width: $small-screen-form-width;
    }
}

.registration-form__input-container {
    position: relative;
    margin: 0.4em 0;
    height: 2em;
    width: 100%;
}

// Should be inside .registration-form__input-container
%registration-form__credentials-input {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 1.2em;
    font-size: 1em;
    border: none;
    border-bottom: 1px solid $default-text-color;

    + label {
        height: 100%;
        display: flex;
        align-items: center;
        color: $default-text-color;
        &::before {
            position: absolute;
            left: 0;
        }
        &::after {
            position: absolute;
            right: 0;
        }
    }

    &:not(:placeholder-shown) + label::before {
        color: $highlighted-text-color;
    }

    &:valid {
        border-bottom: 1px solid $valid-color;
    }

    &:invalid:not(:placeholder-shown) {
        border-bottom: 1px solid $invalid-color;
    }
}

.registration-form__input-email {
    @extend %registration-form__credentials-input;

    + label {
        font-family: FontAwesome;
        &::before {
            content: "\f2c0";
        }
    }

    &:valid + label::after {
        content: "\f00c";
        color: $valid-color;
    }

    &:invalid:not(:placeholder-shown) + label::after {
        content: "\f00d";
        color: $invalid-color;
    }
}

.registration-form__input-password {
    @extend %registration-form__credentials-input;

    + label {
        font-family: FontAwesome;
        &::before {
            content: "\f023";
        }
        &::after {
            content: "\f06e";
        }
    }



}
